<web-app>
	<servlet>
		<servlet-name>OSUServlet</servlet-name>
		<servlet-class>OSUservlet</servlet-class>
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OSUServlet</servlet-name>
		<url-pattern>/osu.htm</url-pattern>
		
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>osu.htm</welcome-file>
	</welcome-file-list>

</web-app>